:root{
    --info:'Type the letters on the screen as fast as possibe. If you make a mistake, 1 point will be removed from your score.Also if you don\' type fast enough, you loose. --Made by sreejith KS';
    --level:'5';
    --primcol:'#ff0000';
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    animation-duration: 1000ms;
}
body{
    background-color: #1d1d1d;
    overscroll-behavior: none  ;
    color: aliceblue;
    font-family: 'Poppins';
}
#cs58header{
    height: 10vh;
    width: 100vw;
    background-color: #141414;
    text-align: center;
    line-height: 10vh;
    font-size: 200%;
    font-weight: 600;
}
#cs58toppart{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding:2vw;
    align-items: center;
    text-align: center;
    line-height: 5vw;
    font-size: 300%;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#cs58content{
    width: 100%;
    display: flex;
    justify-content: center;
}


#cs58infobox{
    width: 20vw;
}
#cs58timerbox{
    display: none;
    width: 0px;
    height: 0px;
}
#cs58levelslider{
    width:  clamp(200px, 40vw, 600px);
    height: 5vh;
    background-color: #141414;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 0px;
}

#cs58scoreboard{
    color: rgb(0, 255, 64);
    width: 20vw;
}
#cs58info{
    text-align: center;
    width:5vw;
    background-color: #0d97e7;
    border-radius:50%;
    box-shadow:  0 0 0 0.5vw #0f4869;
}
#cs58info:hover{
    background-color: #0f4869;
    box-shadow:  0 0 0 0.8vw #0d97e7;
}
#cs58info:hover::after {
    line-height: 2vw;
    font-size: 40%;
    font-weight: 100;
    width: 30vw;
    position: absolute;
    left: 7vw;
    border-radius: 20px;
    padding: 10px;
    content:var(--info);
    background-color: #0d35e7;
}
.cs58scoreitem{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
    flex-direction: row;
}
.cs58scoreitem :nth-child(1){
    color:var(--primcol);
    text-align: right;
    width: 80%;
    font-size: 60%;
}



#cs58parapart{
    display: none;
    width:30vh;
    height:30vh;
    font-size:25vh;
    background-color: #161616;
    border-radius: 20px;
    text-align: center ;
    font-style: oblique;
    font-weight: 600;
    margin-top: 10vh;
}
#cs58gamestate{
    padding:30px;
    font-size:150%;
    display: block;
    background-color: #141414;
    border-radius: 20px;
    text-align: center;
    width: 80%;
}
#cs58gamestartintro{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 150%;
    color: rgb(31, 192, 52);
    font-weight: 500;
    font-style: oblique;
    animation: blinker 1s linear infinite;
}
#cs58gamerestartintro{
    display: none;
    width: 100%;
    text-align: center;
    font-size: 150%;
}

#cs58Gameovertxt{
    font-size: 180%;
    color: red;
    text-decoration: dotted;
    text-decoration-color: red;
    font-weight: 500;
    font-style: oblique;
}

#cs58pscore{
    font-size: 550%;
    color: rgb(0, 255, 64);
    font-weight: 500;
    font-style: oblique;
}

#cs58restarttxt{
    font-size: 150%;
    color: rgb(149, 192, 31);
    font-weight: 500;
    font-style: oblique;
    animation: blinker 1s linear infinite;
}



#cs58footer{
    position: absolute;
    bottom: 5vh;
    width: 80vw;
    margin-left: 10vw;
}
#cs58timebar{
    width:60vw;
    height:4vw;
    background-color: rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#cs58timeline{
    font-size: 0px;
    width: 100%;
    height: 100%;
    background: green;
    border-radius: 20px;
}


@media screen and (max-width: 600px) {
    #cs58header{
        font-size: 100%;
    }
    #cs58toppart{
        font-size: 100%;
    }
    #cs58parapart{
        font-size: 10vh;
    }
    #cs58gamestate{
        font-size: 100%;
    }
    #cs58gamestartintro{
        font-size: 100%;
    }
    #cs58gamerestartintro{
        font-size: 100%;
    }
    #cs58Gameovertxt{
        font-size: 100%;
    }
    #cs58pscore{
        font-size: 250%;
    }
    #cs58restarttxt{
        font-size: 100%;
    }
    #cs58footer{
        font-size: 100%;
    }
    #cs58timebar{
        width: 80vw;
        border-radius: 20px;
    }
    #cs58timeline{
        width: 100%;
        height: 100%;
        background-color:rgb(255,255,0);
        border-radius: 20px;
    }
    
}


@keyframes blinker {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width:10vw;
    height:5vh;
    background: rgba(0, 255, 34, 0.884);
    border-radius: 20px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vw;
    height:5vh;
    border-radius: 5px;
    background: #0004ff;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border:20px;
    background: #00ff0d48;
  }

  input[type=range]::-webkit-slider-runnable-track:hover {
    background: #00ff88b4;
  }

  input[type="range"]:hover::after{
    position:absolute;
    top:11vh;
    left:48vw;
    border-radius: 5px;
    padding: 10px;
    width: 3vh;
    height: 3vh;
    content:var(--level);
    background-color: #0de74e;
    font-size: 3vh;
    color: aliceblue;
  }