
.cs06_board
{
	width: 512px;
	height: 512px;
	border: 16px solid black;
	justify-content: center;
	align-items: center;
	display: block;
}
.cs06_start_button
{
	position:relative;
	left:50%;
	width :64px;
	height:32px;
	margin-left:-32px;
}
.cs06_square
{
	position: relative;
	width: 64px;
	height: 64px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	float: left;
}
.cs06_light_square
{
	background-color: lightgreen;
}
.cs06_dark_square
{
	background-color: green;
}

.cs06_piece
{
	position: relative;
	width: 48px;
	height: 48px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.cs06_white_piece
{
	background-color: white;
}
.cs06_red_piece
{
	background-color: red;
}
.cs06_normal_piece
{
	border: 4px solid black;
}
.cs06_king_piece
{
	border: 4px solid yellow;
}
.cs06_centred_div
{
	width: 544px;
	justify-items: center;
	align-items: center;
	display: block;
}